
/*			 */
/* Page home */
/* 			 */

#content_home {

	background-image: url("../Img/background_accueil.jpg");
	height: 100%;
	background-position: center;
	margin: 0px;
	padding: 0px;

}

#background_home{

	background-color: rgba(0,0,0,0.7);

}

#header_home {

	margin-top: 3.5em;
	border-bottom: 2px solid white;

}

#title_home {

	padding-top: 1em;

}

#section_home {

	margin: 3em 0 3em 0;
	border-bottom: 2px solid white;

}

@media(max-width: 576px){

	#img1 , #img2 {

		display: none;

	}

}
/*                  */
/* Page inscription */
/*                  */

#header_inscription {

	margin-top: 55px;

}

#inscription_form {

	background-image: url("../Img/background_connexion.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	position: relative;

}

#formul_inscription {

	padding-bottom: 50px;

}

#formul_inscription .bg-secondary {

	border-radius: 25px;

}

/*				  */
/* Page connexion */ 
/*				  */

#section_login {

	padding-top: 250px;
	padding-bottom: 200px;

}

#background_login{

	background-image: url("../Img/background_connexion.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;

}

#section_login .bg-secondary {

	border-radius: 25px;

}


/* 				*/
/* Page Article */
/* 				*/

#content_article, #content_viewarticle{

	background-image: url("../Img/background_accueil.jpg");
	height: 100%;
	background-position: center;
	margin: 0px;
	padding: 0px;

}

#header_article {

	margin-top: 3.5em;

}

/*			  */
/* Page admin */
/*            */

#header_admin {

	margin-top: 55px;
    background: linear-gradient(to top, rgba(52,58,64,0.5), rgb(255,255,255));
    padding-bottom: 10px;
    padding-top: 10px;

}

#section_admin{

	margin-top: 55px;
	min-height: 600px;

}

@media(max-width: 576px){


	#header_admin{

	background: none;

	}

}

/*			   */
/* ViewArticle */
/*             */

#header_viewarticle {

	padding-top: 55px;

}

#render_article {

	border-left: 1px solid gray;

}

/*         */
/* Comment */ 
/*         */

.comment{

	background-color: white;
	border-radius: 10px;
	border-bottom: rgba(0,0,0, 0.8) outset 5px;
	border-right: rgba(0,0,0, 0.8) outset 5px;

}

/*                            */
/* Page de création d'article */
/*                            */

#creation_article {

	margin-top: 55px;

}

#header_article {

	background: linear-gradient(to top, rgba(52,58,64,0.5), rgb(255,255,255));
	padding-bottom: 10px;
    padding-top: 10px;


}

@media(max-width: 576px){


	#header_article{

	background: none;

	}

}

/*					   */
/* Modifier un article */
/*                     */

#section_updateArticle {

	margin-top: 55px;

}
