/* Page connexion */ 


#connexion_page {

	background-image: url("../Img/background_connexion.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
	margin: 0px;
	padding: 0px;

}


/* Page inscription */

#inscription_form {

	background-image: url("../Img/background_connexion.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
	margin: 0px;
	padding: 0px;

}

#form_inscription {

	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-top: 12em;
	margin-bottom: 12em;
	border-radius: 15px;
	height: 500px;	

}

/*			 */
/* Page home */
/* 			 */

#content_home {

	background-image: url("../Img/background_accueil.jpg");
	height: 100%;
	background-position: center;
	margin: 0px;
	padding: 0px;

}

#background_home{

	background-color: rgba(0,0,0,0.7);

}

#header_home {

	margin-top: 3.5em;
	border-bottom: 2px solid white;

}

#title_home {

	padding-top: 1em;

}

#section_home {

	margin: 3em 0 3em 0;
	border-bottom: 2px solid white;

}

#img_one_home > img {

	width: 300px;
	height: auto;

}

/* 				*/
/* Page Article */
/* 				*/

#content_article {

	background-image: url("../Img/background_accueil.jpg");
	height: 100%;
	background-position: center;
	margin: 0px;
	padding: 0px;

}

#header_article {

	margin-top: 3.5em;

}

/*              */
#nav_link a:hover {

	text-transform: uppercase;

}

#nav_link {

	padding-left: 3em;

}


#title_form_login {

	margin-top: 0.5em;

}

#form_connexion {

	margin-top: 12em;
	margin-bottom: 12em;
	background-color: rgba(0,0,0,0.5);

	color: white;
	border-radius: 15px;
	height: 400px;


}



.form_login {

	margin-bottom: 2em;
	border-radius: 5px;


}

button {

	margin-left: 150px;
	background: white;
	border: 2px solid rgb(107,204,204);
	border-radius: 15px;
	color: rgb(107,204,204);
	padding: 0px 6px 0px 6px;
	
}

button:hover {

	color: rgb(0,0,0);
	border: 2px solid rgb(0,0,0);


}

#submit_inscription {

	margin-left: 3.5em;
	border-radius: 5px;
}

#submit_login {

	margin-left: 2.8em;
	border-radius: 5px;
	margin-bottom: 1em;

}

#link_inscritpion {

	margin-left: 2.7em;

}

li {

	list-style-type: none;

}

ul {

	margin-bottom: 0px !important;

}

#inscription_link, #connexion_link {

	border: 2px outset rgb(107,204,204);
	border-radius: 5px;


}

#connexion_link {

	margin-left: 1em;

}

#inscription_link:hover {

	border: 2px inset rgb(107,204,204);
	color: rgb(107,204,204) !important;

}

#connexion_link:hover {

	border: 2px inset rgb(107,204,204);
	color: rgb(107,204,204) !important;

}


/*  	  */
/* Footer */
/*        */

footer {


	padding: 0px !important;

}

header {

	padding: 0px !important;

}

#footer_one > a, #footer_two > a {

	padding-bottom: 8px;

}
